extend layout

block content
  script(src='/js/addressmap.js')
  div.container
    .content-container
      .row
        .col.s12
          h4 Europlex
      .row
        .col.s12.m7
            div!=  marked(paragraph1)
            br
            div!=  marked(paragraph2)   
            br
            div!=  marked(paragraph3)
            br
            div!=  marked(paragraph4)
              div.lightPadding
                ul.collection
                  each machine in machines
                    li.collection-item #{machine.fields.machineName}
            div!=  marked(paragraph5)
             div.lightPadding
                ul.collection
                  each skill in skills
                    li.collection-item #{skill.fields.name}
            br
            div!=  marked(paragraph6)
            br
            div!=  marked(paragraph7)
            br
            div!=  marked(paragraph8) 
        .col.s4.offset-l1.hide-on-small-only
          div#addressMap
          script(src='https://maps.googleapis.com/maps/api/js')
          br
          .row
            .col.s1
              i.material-icons.tiny work 
            .col.s11
             .address
              p ZI Nivelles Sud zone II
              p 1400 Nivelles
              p Belgium
          .row
            .col.s1
              i.material-icons.tiny phone 
            .col.s11
              span 
                a(href='tel:+3267550791')
                 |+32 (0)67 55 07 91
          .row
           .col.s1
              i.material-icons.tiny email 
           .col.s11
              span
                a(href='mailto:europlex@europlex.be')
                  |europlex@europlex.be