extend layout

block content
  div.container
    .content-container
      .row
        each card in cards
          .col.s12.m4
            .card.medium
              .card-image
                img(src='#{card.image}').materialboxed
                span.card-title #{card.title}
              .card-content
                p
                  | I am a very simple card. I am good at containing small bits of information.
                  | I am convenient because I require little markup to use effectively.