extend layout

block content
  div.container
    .content-container
      .row
        .col.s4
          include ./includes/cards/card1.jade
        .col.s4 
          include ./includes/cards/card2.jade
        .col.s4 
          include ./includes/cards/card3.jade
      .row
        .col.s4
          include ./includes/cards/card4.jade
        .col.s4 
         include ./includes/cards/card5.jade
        .col.s4 
          include ./includes/cards/card6.jade
      .row
        .col.s12
          div
            h3.center-align Curabitur sodales ligula in libero
            hr(width='50%').mini-title
      .row
        .col.s8.offset-s2
          div(align='justify')
            p aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
              | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
              | Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. 
              | Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
              | Curabitur sodales ligula in libero. 

      .row
        .col.s11.offset-s1
          div(align='justify')
            p aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
              | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
              | Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. 
              | Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
              | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
              | Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. 
              | Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. 
              | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
          div
        .col.s4.offset-s2

            include ./includes/cards/card5.jade
        .col.s4 
          include ./includes/cards/card6.jade
      .row
        .col.s11.offset-s1
          div(align='justify')
            p aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
             | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
             | Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. 
             | Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh.
             | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
             | Pellentesque nibh. Aenean quam. In scelerisque sem at dolor. Maecenas mattis. Sed convallis tristique sem. 
             | Proin ut ligula vel nunc egestas porttitor. Morbi lectus risus, iaculis vel, suscipit quis, luctus non, massa. Fusce ac turpis quis ligula lacinia aliquet. Mauris ipsum. Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. 
             | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
