.card.small
     .card-image.waves-effect.waves-block.waves-light
       img.activator(src='#{card1.image}')
     .card-content
       span.card-title.activator.grey-text.text-darken-4
         | #{card1.title}
         i.material-icons.right more_vert
       p
         | In scelerisque sem at dolor2
     .card-reveal
       span.card-title.grey-text.text-darken-4
         | In scelerisque sem at dolor3
         i.material-icons.right close
       p
        | aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor.
        | aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor 
