.card.small
     .card-image.waves-effect.waves-block.waves-light
       img.activator(src='img/sample-6.jpg')
     .card-content
       span.truncate.card-title.activator.grey-text.text-darken-4
         | In scelerisque sem at dolor
         i.material-icons.right more_vert
       p
         | In scelerisque sem at dolor
     .card-reveal
       span.card-title.grey-text.text-darken-4
         | In scelerisque sem at dolor
         i.material-icons.right close
       p
        | aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. 
        | Curabitur sodales ligula in libero. Sed dignissim lacinia nunc. Curabitur tortor. 
