footer.footer.page-footer
      .container
        .row
          .col.l6.s12
            h4
              a.logo(href='/').brand-logo Europlex
          .col.l4.offset-l2.s8
            h5.white-text 
              a.logo(href='/contact').brand-logo Contact
            ul
              li.grey-text.text-lighten-3 
                i.material-icons.tiny.icon-space phone 
                a(href='tel:+3267550790')
                  span  +32 (0)67 55 07 90
              li.grey-text.text-lighten-3 
                i.material-icons.tiny.icon-space stay_current_portrait 
                a(href='tel:+32473784230')
                  span  +32 (0)4 73 78 42 30
              li.grey-text.text-lighten-3 
                i.material-icons.tiny.icon-space email 
                a(href='mailto:europlex@europlex.be')
                 span   europlex@europlex.be
              li.grey-text.text-lighten-3
                i.material-icons.tiny.icon-space work
                span Rue de la Technique 1, B-1400 Nivelles
        
      .footer-copyright
        .container
          | © 2014 Copyright Text
script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.5/js/materialize.min.js')
script(src='/js/main.js')
