//- dropdown language
ul#dropdown1.dropdown-content.languages
  il
    a.languages nl
  il
    a.languages fr  
  il
    a.languages eng
    
header
  nav.header
    div.nav-wrapper
      a(href="/")
        img(src="/img/logo.png" height="80" width="200")
        //- img(src="/img/logo.png" height="80" width="200")
        ul.right.hide-on-med-and-down
          li 
            a(href='/about') About
          li 
            a(href='/contact') Contact
          li
            a(href="#!" data-activates="dropdown1").dropdown-button
              |nl
              i.material-icons.right language
              
         ul#slide-out.side-nav
          li 
            a(href='/about') About
          li 
            a(href='/contact') Contact
        a.button-collapse(href='#' data-activates='slide-out')
          i.mdi-navigation-menu
