/*
 * Import nib
 */
@import 'nib'

/*
 * Grab a custom font from Google
 */
@import url('https://fonts.googleapis.com/css?family=Quicksand')
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
/*
 * Nib provides a CSS reset
 */
global-reset()

/*
 * Store the main color and
 * background color as variables
 */
main-color = #247BA0
// background-color = #ee6e73
// background-color = 	#0B3851
background-color =#29334D;
body
  font-family 'Georgia'
  color #444
  display: flex;
  min-height: 100vh;
  flex-direction: column;

header
  font-family 'Quicksand'
  font-size 45px

.header
  padding:25px 30px
  height: 130px
  background-color:background-color


.languages
  color: #FF1654

.content-container
 margin 50px auto
 overflow hidden
 margin-bottom 20px

main
  flex: 1 0 auto;

.contact-space
  margin-top: 5Opx !important
// .main-content
//   float left
//   width 300px
//
//   p
//     margin-bottom 20px

.logo
  color:white

.phone
  font-size 18px

.space-row
  height:10px

#addressMap
  width: 500px;
  height: 300px;
  background-color: #CCC;

p
  line-height 1.8
  font-family: 'Open Sans', sans-serif;

blockquote
  line-height 1.8
  font-family: 'Open Sans', sans-serif;

div
  line-height 1.8
  font-family: 'Open Sans', sans-serif;

footer
  padding-top 5px
  font-size 13px

.footer
  background-color: background-color !important

.bigTitle
  padding-top 2%

.icon-space
  padding-right 3px

.img-country
  margin-top: -20px

.lightPadding
  padding-left 3%