/*
 * Import nib
 */
/*
 * Grab a custom font from Google
 */
@import url("http://fonts.googleapis.com/css?family=Quicksand");
@import url("https://fonts.googleapis.com/css?family=Open+Sans");
/*
 * Nib provides a CSS reset
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
/*
 * Store the main color and
 * background color as variables
 */
body {
  font-family: 'Georgia';
  color: #444;
  display: -webkit-box;
  display: -moz-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: box;
  display: flex;
  min-height: 100vh;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -o-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
header {
  font-family: 'Quicksand';
  font-size: 45px;
}
.header {
  padding: 25px 30px;
  height: 130px;
  background-color: #0b3851;
  background-image: url("/img/header-1.png");
  background-repeat: no-repeat;
}
.languages {
  color: #ff1654;
}
.content-container {
  margin: 50px auto;
  overflow: hidden;
  margin-bottom: 20px;
}
main {
  -webkit-box-flex: 1;
  -moz-box-flex: 1;
  -o-box-flex: 1;
  box-flex: 1;
  -webkit-flex: 1 0 auto;
  -ms-flex: 1 0 auto;
  flex: 1 0 auto;
}
.contact-space {
  margin-top: 5Opx !important;
}
.logo {
  color: #fff;
}
.phone {
  font-size: 18px;
}
.space-row {
  height: 10px;
}
#addressMap {
  width: 500px;
  height: 400px;
  background-color: #ccc;
}
p {
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}
blockquote {
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}
div {
  line-height: 1.8;
  font-family: 'Open Sans', sans-serif;
}
footer {
  padding-top: 5px;
  font-size: 13px;
}
.footer {
  background-color: #0b3851 !important;
}
